._top_cat_scroll{
  width: 100%;
  background-color: #ffffff;
}
._top_cat_scroll_d{
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
._top_cat_scroll_d_item_con{
  display: inline-block;
  width: auto;
  height: 100%;
}
._top_cat_scroll_d_item_con2{
  width: auto;
  height: 100%;
}
._top_cat_scroll_d_item{
  padding: 10px 14px;
  border-radius: 26px;
  background-color: #e5e5e5;
  font-size: 24px;
  color: #353535;
  margin-right: 26px;
}

._top_cat_scroll_d_item_select{
  background-color: #d14626;
  color: #ffffff;
}