._waterfall_content{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

._waterfall_left{
  width: 330px;
  height: auto;
  margin-right: 30px;
}
._waterfall_right{
  width: 330px;
  height: auto;
}