

._checkbox_all_line{
  width: 100%;
  height: auto;
  padding: 20px 0;
}

._checkbox_box_yes{
  background-color: #d7ddee;
  border-radius: 4px;
  border: 1px solid #b6bdcd;
  margin-right: 15px;
  width: 35px;
  height: 35px;
}
._checkbox_box_yes_cir{
  background-color: #d7ddee;
  border-radius: 18px;
  border: 1px solid #b6bdcd;
  margin-right: 15px;
  width: 36px;
  height: 36px;
}

._checkbox_box_no{
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #b6bdcd;
  margin-right: 15px;
  width: 35px;
  height: 35px;
}
._checkbox_box_no_cir{
  background-color: #ffffff;
  border-radius: 18px;
  border: 1px solid #b6bdcd;
  margin-right: 15px;
  width: 36px;
  height: 36px;
}

._checkbox_gou{
  width: 22px;
  height: 18px;
}
._checkbox_txt{
  max-width: 650px;
}