

._input_line_con{
  width: 700px;
  height: 98px;
  border-radius: 15px;
  background-color: #ffffff;
  margin-bottom: 25px;
  padding: 0 25px;
  box-sizing: border-box;
}

._input_line_con_a{
  width: 700px;
  height: 160px;
  border-radius: 15px;
  background-color: #ffffff;
  margin-bottom: 25px;
  padding: 0 25px;
  box-sizing: border-box;
}


._input_line_right_arror{
  width: 15px;
  height: 25px;
  margin-left: 20px;
}
._input_line_left{
  height: 100%;
  width: 200px;
}
._input_line_right{
  height: 100%;
  width: 480px;
}
._input_line_input{
  width: 100%;
  height: 100%;
  text-align: right;
}



._input_line_right_image{
  width: 104px;
  height: 104px;
  position: relative;
}

._input_line_right_avatar{
  width: 104px;
  height: 104px;
  border-radius: 52px;
}

._input_line_right_ai{
  position: absolute;
  right: 16px;
  bottom: 7px;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  background-color: #ffffff;
}
._input_line_right_aii{
  width: 38px;
  height: 38px;
}

._input_line_right_picker{
  width: 420px;
  height: 98px;
}