
/*  components  */
._press_hover_op{
  opacity: 0.8;
}
._press_button{
  padding: 0;
  margin: 0;
  line-height: normal;
  border: 0;
  border-radius: 0;
  background-color: rgba(0,0,0,0);
}
._press_button::after{
  display: none;
}





/* Navigation  */
._navigation_content{
  background-color: #ffffff;
  box-sizing: border-box;
  width: 750px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
._navigation_blur{
  backdrop-filter: blur(20px);
}
._navigation_title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._navigation_title_con{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._navigation_title_con_back{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._navigation_title_con_center{
  width: 100%;
  box-sizing: border-box;
}
._navigation_logo{
  margin-right: 12px;
}
._navigation_title_st{
  font-size: 34px;
  color: #333333;
}



/** Button */
._color_button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  transition: background-color .25s;
  cursor: pointer;
}

._color_button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity .5s;
}

._color_button:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

._color_button_disable{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  transition: background-color .25s;
  background-image: linear-gradient(to right , #cecece, #c9c9c9) !important;
  cursor: not-allowed;
}

._color_button_circle_loading{
    position: relative;
    width: 28px;
    height: 28px;
    border: 3px solid #ffffff;
    margin-right: 8px;

    -webkit-animation: circle infinite .75s linear;
       -moz-animation: circle infinite .75s linear;
         -o-animation: circle infinite .75s linear;
            animation: circle infinite .75s linear;
    border-top-color: rgba(0, 0, 0, .1);
    border-right-color: rgba(0, 0, 0, .1);
    border-bottom-color: rgba(0, 0, 0, .1);
    border-radius: 100%;
}

@keyframes circle{
  0%
  {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100%
  {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}






/** UploadImage */
._upload_image{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
._upload_image_item{
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 15px;
  margin-right: 15px;
  margin-bottom: 10rpx;
}
._upload_image_i{
  width: 2px;
  height: 2px;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}
._upload_image_add_all{
  width: 120px;
  height: 120px;
  margin-bottom: 10rpx;
  border-radius: 15px;
  position: relative;
}
._upload_image_upload{
  font-size: 1px;
  width: 2px;
  height: 2px; 
  border-radius: 15px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._upload_image_add{
  color: #1890ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._upload_image_delete_img{
  width: 39px;
  height: 39px;
  position: absolute;
  right: -10px;
  top: -10px;
}
._upload_image_animate_show{
  animation: animate_007 0.5s ease forwards;
}
@keyframes animate_007 {
  from {
    width: 2px;
    height: 2px;
  }
  to {
    width: 120px;
    height: 120px;
  }
}
._upload_image_animate_font_size_show{
  animation: animate_008 0.5s ease forwards;
}
@keyframes animate_008 {
  from {
    font-size: 1px;
  }
  to {
    font-size: 66px;
  }
}








